<!DOCTYPE html>
<html>
  <head>
    <title>会议室申请</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <script type="text/javascript" src='/javascripts/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
    <script type="text/javascript" src='/javascripts/moment.js' ></script>
    <style type="text/css">

		td{
			text-align: center;
		}

	    .red{ background-color:rgb(255,0,128);}
	    .blue{ background-color: rgb(255,128,0);}
	    .white{ background-color: white; }
	    .none{
	    		background-color: rgb(226,234,254);
	    		vertical-align: middle;
	    }
	    .roomname{
	    	
	    }
    	.cl{ 
    		background-color: rgb(226,235,254);
    		height: 80px;
    		line-height: 80px;
    		text-align: center
    	}
    	.col-md-3 {
    		text-align : center;
    		font-weight : bold;
    	}
    	.col-md-9{
    		font-weight : normal;
    	}
    	.col-md-4{
			font-weight : normal;
    	}
    	.col-md-8{
    		text-align: left;
    		font-weight : bold;
    	}
    	.col-md-7{
    		font-weight : normal;
    	}
    	.hr_head{
    		margin-top: :-10px;
    		margin-bottom: 5px;
    	}
    	.hr_bottom{
    		margin-top: 5px;
    		margin-bottom: 5px;
    	}
    	#date{
    		background-color: rgb(226,234,254);
    	}
    	#time_line{
    		background-color: rgb(226,234,254);
    	}
    	.table{
    		font-size: 12px;
    	}
    	.bottom_bg{
    		background-color: #80AAD3;
    	}
    	.bottom_img{
    		vertical-align: middle; 
    		border: 1px solid #FFFFFF;
    		margin-bottom: 1px;
    	}
    	.bottom_span{
    		height: 21px;
    	}
    	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    		padding: 5px;
    	}
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        <div class="container">
	      <div class="row">
	        <div class="col-md-5">
	         <img src="/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
	          
	        </div>
	        <div class="col-md-5"><h3>会议室申请</h3></div>
	      </div>
	      <div class="row">
	      	<div class="col-md-4 pull-right" ><a href="/manage/approve">管理申请</a> | <a href="/reserve/reserve">申请会议室</a> | <a href="/reserve/record">查看申请记录</a></div>
<!-- 	        <div class="col-md-2 pull-right" style="text-align: right;"><a href="/manage/approve">管理申请</a></div>
<div class="col-md-2 pull-right" style="text-align: right;"><a href="/reserve/reserve">申请会议室</a></div>
<div class="col-md-2 pull-right" style="text-align: right;"><a href="/reserve/record">查看申请记录</a></div> -->
	      </div>
	      
          
          <div class="row">
			<div class="col-md-4">
				会议室一周申请情况
			</div>
			<div class="col-md-4">
			   <a id="now-week" href="?week=0">本周</a> | <a id="next-week" href="?week=1">下周</a> | <a id="next-next-week" href="?week=2">下下周</a> | <a id="next-next-next-week" href="?week=3">下下下周</a>
			</div>
			<div class="col-md-4">
				当前时间:<span id="showdate"></span>
			</div>
          </div>
		
		  <!-- <div class="row">
		  	        <hr class="hr_head">
		  	      </div> -->

		  <div class="row">
			<div class="table-responsive">
				<table class="table" id="monitor" border="1px" style="vertical-align: center">
				<thead>
					<tr id="date"> 
						<td class="none" rowspan="2" width="120px" style="vertical-align: middle;">会议室</td>
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td> 
					</tr>
					<tr id="time_line">
						<% for (var a=0;a<7;a++){ %>
							<td>上</td>
							<td>中</td>
							<td>下</td>
							<td>晚</td>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% for(var b=0;b<result.length;b++){ %>
						<tr>
							<% for(var c=0;c<result[b].length;c++) { %>
									<% if(result[b][c] == 2) { %>
										<td class="red" title= '<%=result[b][0]%>,<%=b%>,<%=c%>' style= "cursor:pointer; "></td>
									<% } %>
									<% if(result[b][c] == 0) { %>
										<td class="white" title= '<%=result[b][0]%>,<%=b%>,<%=c%>' style= "cursor:pointer;"></td>
									<% } %>
									<% if(result[b][c] == 1) { %>
										<td class="blue" title= '<%=result[b][0]%>,<%=b%>,<%=c%>' style= "cursor:pointer; "></td>
									<% } %>
									<% if(result[b][c] != 0 && result[b][c] != 1 && result[b][c] != 2) { %>
										<td class="none" title= '<%=result[b][0]%>,<%=b%>,<%=c%>'><%= result[b][c] %></td>
									<% } %>
							<% } %>
						</tr>
					<% } %>
				</tbody>
				</table>
			</div>
		  </div>
		  
		  <div class="row bottom_bg">
			<div class="col-md-12 ">
				<span class="bottom_span">注：1.<img src="/images/red.png" class="bottom_img"   /> 红色代表该时间段已被占用;</span>
				<span class="bottom_span">2.<img src="/images/orange.png"  class="bottom_img"  /> 橙色代表该时间段有人申请;</span>
				<span class="bottom_span">3.<img src="/images/white.png"   class="bottom_img"  />白色代表该时间段空闲</span>
			</div>
		  </div>

	      <div class="row bottom_hr">
	        <hr class="hr_bottom">
	      </div>

	      <div class="row">
	        <div class="col-md-4 col-md-offset-4">
	         <address><p class="pull-right">©深圳大学 计算机与软件学院</p><p>©2017 </p></address>
	        </div>
	      </div>
	</div>

	<!-- 模态框 -->
	<!-- Large modal -->
	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bs-example-modal-lg">Large modal</button> -->

	<div class="modal fade modal-msg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="data-modal">
	  <div class="modal-dialog " role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="gridSystemModalLabel"></h4>
	      </div>
	      <div class="modal-body">

	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default sure" data-dismiss="modal">确定</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script>  
	//'use strict';
	function GetQueryString(name)
		{
		     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		     var r = window.location.search.substr(1).match(reg);
		     if(r!=null)return  unescape(r[2]); return null;
		}
	window.onload = function(){     

      var cells = document.getElementById('date').getElementsByTagName('td');
      var clen = cells.length;
      var currentFirstDate;
      var formatDate = function(date){       
        var year = date.getFullYear()+'年';
        var month = (date.getMonth()+1)+'月';
        var day = date.getDate()+'日';
        var week = '('+['周天','周一','周二','周三','周四','周五','周六'][date.getDay()]+')'; 
 
        return month+day+' '+week;
      };
      var addDate= function(date,n){    
        date.setDate(date.getDate()+n);    
        return date;
      };
      var setDate = function(date){       
        // 调用方法
        solidDate = date
        console.log('原始日期-->',date)
		  var week=GetQueryString("week");
		  console.log('get week from url -->',week)
		  if(week !=null && week.toString().length>=1)
		  {
			    console.log('week is-->' + week);
		  } 
		  tempstamp = moment().format('X')
		  console.log('当前时间戳-->',tempstamp)
		timeStamp = moment().add(week,'week').format('X')
		console.log('加上week参数后的时间戳-->',timeStamp)
		//date = new Date()
		date = new Date(timeStamp*1000)
		//newDate = newDate.toDateString()
		console.log('新日期(加上week参数)-->',date)
        currentFirstDate = new Date(date);
		showdate.innerHTML = currentFirstDate.getFullYear() + '年' + formatDate(solidDate); //显示日期  
 
        for(var i = 1;i<clen;i++){         
          cells[i].innerHTML = formatDate(i==1 ? date : addDate(date,1));
        }        
      };       
      /*document.getElementById('last-week').onclick = function(){
        setDate(addDate(currentFirstDate,-7)); 
        //console.log(currentFirstDate)  
        //currentFirstDate = new Date()
      };       
      document.getElementById('next-week').onclick = function(){     

        setDate(addDate(currentFirstDate,7));
        //console.log(currentFirstDate) 
        //currentFirstDate = new Date() next-next-week
      }; 
       document.getElementById('next-next-week').onclick = function(){     

        setDate(addDate(currentFirstDate,14));
        //console.log(currentFirstDate) 
        //currentFirstDate = new Date() next-next-week
      };  
      document.getElementById('now-week').onclick = function(){   
      	currentFirstDate = new Date()      
        setDate(addDate(currentFirstDate,0));
        //console.log(currentFirstDate) 
        
      }; */
      setDate(new Date());
    }
    //弹出模态框
      $('.table').on('click','td',function(){
      	var title = $(this).attr('title');
      	if(typeof title == 'undefined'){
      		return 
      	}
      	console.log('点击的方框信息：会议室名称,横坐标，纵坐标',title)
      	var msg = title.split(',')
      	console.log('msg-->',msg)
      	var room_name = msg[0],
      		i = msg[1],
      		k = msg[2]
      	
      	if(k == 0){
      		return 
      	}

      	//根据i,k求出日期和时间段
      	var arr = dateAndTime(k)
      	console.log('arr-->',arr)
      	var meeting_date = arr[0]
      	var meeting_time = arr[1]
      	var week = arr[2]
      	console.log('meeting_date && meeting_time-->',meeting_date,meeting_time)

      	//ajax请求数据
      	$.ajax({
            url: '/reserve/get_meeting_detail', 
            async: true,
            dataType: 'json',
            type: 'POST',
            data: {
              room_name:room_name,
              meeting_date:meeting_date,
              meeting_time:meeting_time,
              week:week
            },
            success: function(result){
              console.log('result-->',result)
              $('.modal-msg').modal('show')
              $('#gridSystemModalLabel').text(room_name+'预订信息')

              if(!result || result.length == 0) {
		          	//没有预订信息时提示
		          var no_result_row = $('<div></div>')
		          	  no_result_row.addClass('row')
		          var no_result_col = $('<div></div>')
		          	  no_result_col.addClass('col-md-12')
		          	  no_result_col.text('该时间段暂无预订信息!')

		          	  no_result_col.appendTo(no_result_row)
		          	  no_result_row.appendTo('.modal-body')

		          	  return 
	          } 
	          
	          var first_row = $('<div></div>')
	          	  first_row.addClass('row')
	          var first_col = $('<div></div>')
	          	  first_col.addClass('col-md-3')
	          	  first_col.text('申请状态')
	          var second_col = $('<div></div>')
	          	  second_col.addClass('col-md-8 col-md-offset-1')
	          	  second_col.text('申请信息')

	          	  first_col.appendTo(first_row)
	          	  second_col.appendTo(first_row)
	          	  first_row.appendTo('.modal-body')
	          
              for(var i=0;i<result.length;i++){
	              	var sta = '未审批'
	              	if(result[i].is_approved == 1){
	              		sta = '已批准'
	              	}


				    var parentdiv=$('<div></div>');        				//创建一个父div 外边row
				    	parentdiv.addClass('row');    			

				    var childdiv_left_parent=$('<div></div>');         //左边列
					    childdiv_left_parent.addClass('col-md-3 cl');   
					    childdiv_left_parent.text(sta)

				    var childdiv_right_parent = $('<div></div>');   	//右边列
				    	childdiv_right_parent.addClass('col-md-9')

				    var childdiv_right_child_row_1 = $('<div></div>');
				    	childdiv_right_child_row_1.addClass('row')			//右边列 嵌套的第一行
				    var childdiv_right_child_row_1_col_1 = $('<div></div>')//右边列 嵌套的第1行 第1列(会议名称)
				    	childdiv_right_child_row_1_col_1.addClass('col-md-3')
				    	childdiv_right_child_row_1_col_1.text('会议名称')
				    var childdiv_right_child_row_1_col_2 = $('<div></div>')//右边列 嵌套的第1行 第2列(会议名称)
				    	childdiv_right_child_row_1_col_2.addClass('col-md-9')
				    	childdiv_right_child_row_1_col_2.text(result[i].meeting_name)

				    var childdiv_right_child_row_2 = $('<div></div>');
				    	childdiv_right_child_row_2.addClass('row')			//右边列 嵌套的第一行
				    var childdiv_right_child_row_2_col_1 = $('<div></div>')//右边列 嵌套的第1行 第1列(会议名称)
				    	childdiv_right_child_row_2_col_1.addClass('col-md-3')
				    	childdiv_right_child_row_2_col_1.text('申请人')
				    var childdiv_right_child_row_2_col_2 = $('<div></div>')//右边列 嵌套的第1行 第2列(会议名称)
				    	childdiv_right_child_row_2_col_2.addClass('col-md-9')
				    	childdiv_right_child_row_2_col_2.text(result[i].apply_name)
				    
				    var childdiv_right_child_row_3 = $('<div></div>');
				    	childdiv_right_child_row_3.addClass('row')			//右边列 嵌套的第一行
				    var childdiv_right_child_row_3_col_1 = $('<div></div>')//右边列 嵌套的第1行 第1列(会议名称)
				    	childdiv_right_child_row_3_col_1.addClass('col-md-3')
				    	childdiv_right_child_row_3_col_1.text('联系方式')
				    var childdiv_right_child_row_3_col_2 = $('<div></div>')//右边列 嵌套的第1行 第2列(会议名称)
				    	childdiv_right_child_row_3_col_2.addClass('col-md-9')
				    	childdiv_right_child_row_3_col_2.text(result[i].apply_phone)

				    var childdiv_right_child_row_4 = $('<div></div>');
				    	childdiv_right_child_row_4.addClass('row')			//右边列 嵌套的第一行
				    var childdiv_right_child_row_4_col_1 = $('<div></div>')//右边列 嵌套的第1行 第1列(会议名称)
				    	childdiv_right_child_row_4_col_1.addClass('col-md-3')
				    	childdiv_right_child_row_4_col_1.text('会议时间')
				    var childdiv_right_child_row_4_col_2 = $('<div></div>')//右边列 嵌套的第1行 第2列(会议名称)
				    	childdiv_right_child_row_4_col_2.addClass('col-md-9')
				    	childdiv_right_child_row_4_col_2.text(result[i].meeting_date + ' ' + result[i].exact_meeting_time)

				    childdiv_right_child_row_1_col_1.appendTo(childdiv_right_child_row_1)
				    childdiv_right_child_row_1_col_2.appendTo(childdiv_right_child_row_1)

				    childdiv_right_child_row_2_col_1.appendTo(childdiv_right_child_row_2)
				    childdiv_right_child_row_2_col_2.appendTo(childdiv_right_child_row_2)

				    childdiv_right_child_row_3_col_1.appendTo(childdiv_right_child_row_3)
				    childdiv_right_child_row_3_col_2.appendTo(childdiv_right_child_row_3)

				    childdiv_right_child_row_4_col_1.appendTo(childdiv_right_child_row_4)
				    childdiv_right_child_row_4_col_2.appendTo(childdiv_right_child_row_4)

				    childdiv_right_child_row_1.appendTo(childdiv_right_parent)
				    childdiv_right_child_row_2.appendTo(childdiv_right_parent)
				    childdiv_right_child_row_3.appendTo(childdiv_right_parent)
				    childdiv_right_child_row_4.appendTo(childdiv_right_parent)

				    childdiv_left_parent.appendTo(parentdiv);        //将子div添加到父div中  左边第一列添加到row中
				    childdiv_right_parent.appendTo(parentdiv)		 //将子div添加到父div中  右边第一列添加到row中

				    //添加划分线
				    var last_row = $('<div></div>')
	          	  		last_row.addClass('row')
		          	  	last_row.html('<hr>')
	          	  	last_row.appendTo('.modal-body')

				    parentdiv.appendTo('.modal-body');            //将父div添加到body中

              }   
            },
            error: function(jqXHR , textStatus , errorThrown){
              console.log("error");
              console.error()
            },
           
          });
      })
		
	$(".modal-msg").on("hidden.bs.modal", function() {
            	console.log('---- here ----')
        		//$(this).removeData("bs.modal");
        		$(".modal-body").children().remove();  
        		console.log('----- clear modal window -----')
        		//$(".modal-body").remove()
        		//console.log('----- clear again -----')
     });

    var format_month_day = function(date,n){ 
    	console.log('in format_month_day function check arg n-->',n)    
    	console.log('in format_month_day function check arg date-->',date)  
        var month = (date.getMonth()+1);
        var day = (date.getDate()+n);
        // if(day.length == 1){
        // 	day = '0' + day
        // }
        // if(month.length == 1){
        // 	month = '0' + month
        // }
        console.log('修改前计算的月份-->',month)
        console.log('修改前计算的日-->',day)

        //本周周一的日，加上n之后如果大于本月的天数，则月加1，日为（date+n-天数）
        var thisYear = date.getFullYear(),
        	thisMonth = date.getMonth() + 1
        var dateForGetDaysNum = new Date(thisYear,thisMonth,0),
        	daysNum = dateForGetDaysNum.getDate()
        // var curDate = date,
        // 	curMonth = curDate.getMonth()+1
        // console.log('curMonth-->',curMonth)
        // curDate.setMonth(curMonth)
        // curDate.setDate(0)
        // console.log('curDate-->',curDate)
        // var daysNum = curDate.getDate()
        console.log('本周周一所在月份的天数-->',daysNum)

        if(day > daysNum){
        	console.log('click day is in next month')
        	month = month + 1
        	day = day - daysNum
        }
        if(day.toString().length == 1){
        	day = '0' + day
        }
        if(month.toString().length == 1){
        	month = '0' + month
        }
		console.log('修改之后计算的月份-->',month)
		console.log('修改之后计算的日-->',day)

        day = day + '日'
        month = month + '月'
        console.log('day is -->',day)
        console.log('month is -->',month)
        return month+day;
     };
 //     var getDaysNum = function getCountDays() {
	//        var curDate = new Date();
	//        var curMonth = curDate.getMonth();
	//        curDate.setMonth(curMonth + 1);
	//        curDate.setDate(0);

	//        return curDate.getDate();
	// }
    var dateAndTime = function(arg){
    	var tem1 = parseInt(arg/4)  //取整,(0-6),代表星期几

    	if(tem1 == 0){//1 2 3
    		tem1 = 0
    	}
    	if(tem1 == 1 && (arg%4) == 0){//4
    		tem1 = 0
    	}
    	if(tem1 == 1 && (arg%4) != 0){//5,6,7
    		tem1 = 1
    	}
    	if(tem1 == 2 && (arg%4) == 0){//8
    		tem1 = 1
    	}
    	if(tem1 == 2 && (arg%4) != 0){//9 10 11
    		tem1 = 2
    	}
    	if(tem1 ==3 && (arg%4) == 0){//12
    		tem1 = 2
    	}
    	if(tem1 == 3 && (arg%4) != 0){//13 14 15
    		tem1 = 3
    	}
    	if(tem1 ==4 && (arg%4) == 0){//16
    		tem1 = 3
    	}
    	if(tem1 == 4 && (arg%4) != 0){//17 18 19
    		tem1 = 4
    	}
    	if(tem1 ==5 && (arg%4) == 0){//20
    		tem1 = 4
    	}
    	if(tem1 == 5 && (arg%4) != 0){//21 22 23
    		tem1 = 5
    	}
    	if(tem1 ==6 && (arg%4) == 0){//24
    		tem1 = 5
    	}
    	if(tem1 == 6 && (arg%4) != 0){//25 26 27
    		tem1 = 6
    	}
    	if(tem1 ==7 && (arg%4) == 0){//28
    		tem1 = 6
    	}

    	var week=GetQueryString("week");
		if(week !=null && week.toString().length>=1){
			console.log('week is-->' + week);
		} 
		var tempstamp = moment().format('X')
		console.log('当前时间戳-->',tempstamp)
		console.log('当前日期-->',moment.unix(tempstamp).format('YYYY-MM-DD'))
		timeStamp = moment().add(week,'week').format('X')
		console.log('当前时间戳加上week参数后的时间戳-->',timeStamp)
		console.log('当前日期加上week参数后的日期-->',moment.unix(timeStamp).format('YYYY-MM-DD'))
		//date = new Date(timeStamp*1000)

    	var date = new Date(timeStamp * 1000)
    	console.log('new date-->',date)
    	var tem2 = format_month_day(date,tem1)
    	console.log('check date-->',tem2)
    	var tem3 = arg%4
    	switch(tem3){
    		case 1 : tem3 = '上午'
    		break;
    		case 2 : tem3 = '中午'
    		break;
    		case 3 : tem3 = '下午'
    		break;
    		case 0 : tem3 = '晚上'
    	}
    	return new Array(tem2,tem3,week)
    }
	</script>
  </body>
</html>